body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.avo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  align-self: center;
}

.pai {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sidebar {
  margin: 0px 100px;
  border: solid 1px black;
  border-radius: 3px;
  background-color: gray;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barzinho {
  padding-top: 10px;
}

.barzinhoend {
  padding: 10px 0 10px;
}

.componentsection {
  margin: 0px 100px;
}

.header {
  display: flex;
  background-color: green;
  padding: 10px;
  color: white;
}

.headerzinho {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.linksOnHeader {
 padding-left: 10px;
}
